// Fuentes
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
$fontPrincipal: 'Roboto',
sans-serif;

// Size de Media Queries
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colors
$black: #1a1b1c;
$white: #ffffff;
$blue: #288cf0;
$bluegray: #ebf2f5;
$blueLight: #def6ff;
$red: #db3333;
$gray: #e5e5e5;
$midgray: #a6a6a6;
$somegray: #484848;
$darkgray: rgb(33, 34, 38);