// Fuentes
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
$fontPrincipal: "Lato",
sans-serif;

// Size de Media Queries
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colors
$black: #1a1b1c;
$white: #ffffff;
$blue: #288cf0;
$gray: #f4f4f4;
$darkgray: rgb(33, 34, 38);