@use "../base/variables"as v;
@use "../base/mixins"as m;

.layout {
  @include m.min_tablet {
    display: grid;
    grid-template-columns: 1fr 4fr;
    min-height: 100vh;
  }
}

.left-bar {
  background-color: v.$darkgray;
  padding: 5rem 3rem;

  &__title {
    font-size: 3rem;
    color: v.$white;
  }

  &__navbar {
    margin-top: 5rem;

    a {
      display: block;
      margin-bottom: 1.5rem;
      padding: 1rem;
      border-radius: 5px;
      text-align: center;
      font-weight: 500;
      color: v.$white;
      transition: .2s;

      &:last-of-type {
        margin-bottom: 0;
      }

      &:hover {
        background-color: v.$blue;
        transform: translateX(1rem);
      }
    }

    .link-selected {
      background-color: v.$blue;
    }
  }

}

.dashboard {
  padding: 3rem 2rem;
  background-color: v.$gray;

  @include m.min_tablet {
    height: 100vh;
    overflow: scroll;
  }

  &__title {
    color: v.$blue;
    margin-bottom: 2rem;
  }
}